
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Aradığınız Sayfa Bulunamadı</title>
    <meta name="robots" content="noindex, nofollow" />
    <link href="/404 sayfası olusturma/kaynak/bootstrap.min.css" rel="stylesheet">
    <link href="/404 sayfası olusturma/kaynak/style.css" rel="stylesheet">
</head>
<body class="hata-bolumu">
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="offset-xl-2 col-xl-8 offset-lg-2 col-lg-8 col-md-12 col-sm-6 col-6 text-center">
                    <div class="hata-alani">
                        <div class="hata-gorseli"><img src="/404 sayfası olusturma/kaynak/hata.png" alt="404 logo" class="img-fluid"></div>
                        <h2 class="hata-baslik">
                            Ooooopppppssssssss!!! <br>
                            Hata sayfamızla karşılaştınız!
                        </h2>
                        <p class="lead d-none d-xl-block d-lg-block">
                            Aradığınız sayfa kaldırılmış, adı değiştirilmiş veya geçici olarak kullanılamıyor olabilir.
                        </p>
                        <a href="/Blog/Index/" class="btn btn-default">Bloga Dön</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/404 sayfası olusturma/kaynak/bootstrap.min.js"></script>
</body>
</html>
